body {
    background-color: rgb(27, 40, 66);
}

#gif-view {
    margin: auto 0;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    
}
img {
    padding: 10px;
    border: solid 1px rgb(255, 0, 179);
    box-shadow: 5px 5px 15px 15px rgba(234, 0, 255, 0.15);
    
}
#button-div {
    text-align: center;

}
button {
background-color: rgb(44, 67, 114);
/* box-shadow: 5px 5px 15px 15px rgba(255, 0, 242, 0.25); */
width: 250px;
height: 50px;
margin: 20px;
border-radius: 5px;
border: none;
color: rgb(255, 255, 255);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}